<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${person.id})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">birthday error</div>
    <br/>
    <input type="submit" value="Edit!">
</form>
</body>
</html>